.profile-sidebar-wrapper
  .profile-sidebar
    %ul.menu
      %li.menu__item
        = link_to "/profile/#{@user.nickname}/posts", class:'menu__item--link',data: { turbolinks: false} do
          %i.fas.fa-pen-square
          投稿した記事
      %li.menu__item
        = link_to "/profile/#{@user.nickname}/likes", class:'menu__item--link',data: { turbolinks: false} do
          %i.fas.fa-baseball-ball
          いいねした記事
      %li.menu__item
        = link_to "/profile/#{@user.nickname}/comments", class:'menu__item--link',data: { turbolinks: false} do
          %i.fas.fa-comment
          コメント
      %li.menu__item
        = link_to "/profile/#{@user.nickname}/follows", class:'menu__item--link',data: { turbolinks: false} do
          %i.fas.fas.fa-users
          フォロー
      %li.menu__item
        = link_to "/profile/#{@user.nickname}/followers", class:'menu__item--link',data: { turbolinks: false} do
          %i.fas.fa-users
          フォロワー