= render "shared/header"
.profile-main
  =render"profile"
  .profile-content-wrapper
    = render "sidebar"
    .profile-content
      .profile-content-posts
        .profile-content-title
          いいねした記事
        -@articles.each do|article|
          .profile-article-wrapper
            .profile-article
              .profile-article-icon
                =link_to "/profile/#{article.user.nickname}/posts" do
                  -if article.user.icon.present?
                    =image_tag article.user.icon.url
                  -else
                    =image_tag "quutan.jpg"
              .profile-article-detail
                .profile-article-title
                  =link_to "/articles/#{article.id}" do
                    =article.title
                  .profile-article-favoritedate-area
                    - if @favorites.include?(article.id)
                      .profile-article-favorited{data:{id:article.id}}
                        %i.fas.fa-star
                    - else
                      .profile-article-favorite{data:{id:article.id}}
                        %i.fas.fa-star
                    .profile-article-date
                      =link_to article.user.nickname, "/profile/#{article.user.nickname}/posts"
                      ="が"+article.created_at.strftime("%Y年%m月%d日")+"に投稿"
                .profile-article-likes
                  %i.fas.fa-baseball-ball
                    =article.likes.count
                  .profile-article-comments
                    %i.fas.fa-comment
                      =article.comments.count
      .profile-pagination
        =paginate @articles
= render "shared/footer"