= render "shared/header"
.profile-main
  .profile-userprofile
    .userprofile-left
      .profile-icon
        -if @user.icon.present?
          =image_tag @user.icon.url
        -else 
          =image_tag "quutan.jpg"
    .userprofile-right
      .prodile-name-follow-wrapper
        .profile-namearea
          -if @user.profile.firstname.present? && @user.profile.lastname.present?
            .profile-name
              =@user.profile.lastname + " " + @user.profile.firstname
            .profile-nickname
              ="@"+@user.nickname
          -else  
            .profile-name
              ="@"+@user.nickname
        .profile-followsns-area
          -if @user.profile.twitter.present?
            =link_to "https://twitter.com/#{@user.profile.twitter}", target:"blank", class:"profile-twitter" do
              %i.fab.fa-twitter
          -if @user.profile.facebook.present?
            =link_to "https://facebook.com/#{@user.profile.facebook}", target:"blank", class:"profile-facebook" do
              %i.fab.fa-facebook
          -if user_signed_in?
            -unless current_user.id == @user.id
              %span.userFollowButton{data:{id:"#{@user.id}"}}
                -if @relation.nil?
                  %button.btn.btn-default.btn-block.userFollowButton_inner.btn-xs
                    %i.i.fa.fa-user-plus
                    フォロー
                -else
                  %button.btn.btn-primary.btn-block.userUnfollowButton_inner.btn-xs
                    フォロー中
      -if @user.profile.description.present?
        .profile-description
          = @user.profile.description
      -if @user.profile.email_status == "1"
        .profile-email
          =mail_to @user.email, "#{@user.email}"
      .profile-team-position-area
        - if @user.profile.team.present?
          .profile-team
            =@user.profile.team+"所属　"
        - if @user.profile.position?
          .profile-position
            =@user.profile.position + "　"
        -if @user.profile.throwing.present?
          =@user.profile.throwing
        -if @user.profile.batting.present?
          =@user.profile.batting
      -if @user == current_user
        .profile-setting
          =link_to "プロフィールを編集する", "/setting/profile",class:"profile-setting-link"
      //　SNSへのリンク
      -# .profile-twitter
      -#   =@user.profile.twitter
      -# .profile-facebook
      -#   =@user.profile.facebook
  .profile-content-wrapper
    .profile-sidebar
      %ul.menu
        = @menulist.zip(@linklist) do |menu,link|
          %li.menu__item
            = link_to link, class:'menu__item--link',data: { turbolinks: false} do
              = menu
    .profile-content
      .profile-content-posts
        .profile-content-title
          投稿した記事
        -@articles.each do|article|
          .profile-article-wrapper
            .profile-article
              .profile-article-icon
                =link_to "/profile/#{@user.nickname}" do
                  -if article.user.icon.present?
                    =image_tag article.user.icon.url
                  -else
                    =image_tag "quutan.jpg"
              .profile-article-detail
                .profile-article-title
                  =link_to "/articles/#{article.id}" do
                    =article.title
                  .profile-article-favoritedate-area
                    - if @favorites.include?(article.id)
                      .profile-article-favorited{data:{id:article.id}}
                        %i.fas.fa-star
                    - else
                      .profile-article-favorite{data:{id:article.id}}
                        %i.fas.fa-star
                    .profile-article-date
                      =link_to @user.nickname, "/profile/#{@user.nickname}"
                      ="が"+article.created_at.strftime("%Y年%m月%d日")+"に投稿"
                .profile-article-likes
                  %i.fas.fa-baseball-ball
                    =article.likes.count
      .profile-pagination
        =paginate @articles
= render "shared/footer"