.sessionsLayout
  .container
    =image_tag "quuta.png", class:"quuta-logo"
    .row
      .col-lg-8.col-lg-offset-2.col-md-offset-2.col-sm-offset-1
        .sessionsLayoutHeader
          .sessionsLayoutHeader_title Quutaにログイン
        %hr/
        .row
          .col-sm-6
            =link_to user_twitter_omniauth_authorize_path ,class:"btn btn-twitter-inverse btn-block btn-lg" do
              %i.fab.fa-twitter
              Twitterアカウントでログイン
            =link_to user_google_oauth2_omniauth_authorize_path, class:"btn btn-google-inverse btn-block btn-lg" do
              %i.fab.fa-google
              Googleアカウントでログイン
            =link_to user_facebook_omniauth_authorize_path ,class:"btn btn-facebook-inverse btn-block btn-lg" do
              %i.fab.fa-facebook
              Facebookアカウントでログイン
            .sessionsLayout_guide
              もしQuutaのアカウントを持っていない場合は
              =link_to "新規登録", "/signup" 
              から。
          .col-sm-6.sessionsLayoutFormColumn
            -if notice || alert
              .alert.alert-danger
                .login_notice
                  = notice
                .login_alert
                  = alert
            =form_for resource, as: resource_name, url: login_path do |f|
              .form-group
                = f.text_field :login, class:"form-control", id:"user_url_name", placeholder:"ユーザ名 また メールアドレス", required:"required"
              .form-group
                = f.password_field :password, class:"form-control", id:"user_password", "data-placement": "top", "data-toggle": "tooltip", "data-trigger": "focus", placeholder:"パスワード", required:"required"
                .help-block
                  =link_to "パスワードを忘れた場合",""
              .form-group
                = f.submit class:"btn btn-primary btn-block btn-lg", "data-disable-with": "送信中……", value:"Quuta にログイン"