.container
  %h1 新規投稿
  %input{type: "file", id: 'image_file', name: 'images', value: 'image'}
  = form_with model:@article, local: true do |f|
    .form-group
      = f.label :title
      = f.text_field :title, class: 'form-control', id: 'article_title'
    .form-group
      #editor
        = f.label :text
        = f.text_area :text, rows: 5, class: 'form-control', id: 'article_text'
        #marked-area
      = f.submit nil, class: 'btn btn-success'