= render "shared/header"

%article.articles{data:{id:@article.id}}
  .articles_wrapper
    .articles_container
      .articles_stickyMenu.it-Actions
        %div
          .it-Actions_item.it-Actions_item-like
            .it-Actions_likeCount.likes-count{data:{like:@likes.count}}
              =@likes.count
            - if @like.present?
              %button.article-unlike-button
                %i.fas.fa-baseball-ball
            - else
              %button.article-like-button
                %i.fas.fa-baseball-ball
          .it-Actions_item.it-Actions_item-favorite
            -if @favorite.present?
              %button.article-unfavorite-button
                %i.fas.fa-star
            -else
              %button.article-favorite-button
                %i.fas.fa-star
          .it-Actions_jumpToCommentButton
            .it-Actions_commentCount 
              =@article.comments.count
            .fa.fa-fw.fa-comment{href: "#comments"}
          .SocialMediaShareButton.SocialMediaShareButton--twitter
            =link_to "", target:"_blank", onclick:"window.open('http://twitter.com/share?url=#{request.url}&hashtags=Quuta,球太','subwin','width=500,height=500'); return false;" do
              %div
                %svg.social-icon.social-icon--twitter{fill: "white", height: "32", viewbox: "0 0 64 64", width: "32"}
                  %g
                    %circle{cx: "32", cy: "32", fill: "#00aced", r: "31"}
                  %g
                    %path{d: "M48,22.1c-1.2,0.5-2.4,0.9-3.8,1c1.4-0.8,2.4-2.1,2.9-3.6c-1.3,0.8-2.7,1.3-4.2,1.6 C41.7,19.8,40,19,38.2,19c-3.6,0-6.6,2.9-6.6,6.6c0,0.5,0.1,1,0.2,1.5c-5.5-0.3-10.3-2.9-13.5-6.9c-0.6,1-0.9,2.1-0.9,3.3 c0,2.3,1.2,4.3,2.9,5.5c-1.1,0-2.1-0.3-3-0.8c0,0,0,0.1,0,0.1c0,3.2,2.3,5.8,5.3,6.4c-0.6,0.1-1.1,0.2-1.7,0.2c-0.4,0-0.8,0-1.2-0.1 c0.8,2.6,3.3,4.5,6.1,4.6c-2.2,1.8-5.1,2.8-8.2,2.8c-0.5,0-1.1,0-1.6-0.1c2.9,1.9,6.4,2.9,10.1,2.9c12.1,0,18.7-10,18.7-18.7 c0-0.3,0-0.6,0-0.8C46,24.5,47.1,23.4,48,22.1z"}
          .SocialMediaShareButton.SocialMediaShareButton--facebook{role: "button", style: "margin-top: 1.6rem;", tabindex: "0"}
            =link_to "", onclick:"window.open('https://www.facebook.com/sharer/sharer.php?u=#{request.url}','subwin','width=500,height=500'); return false;" do
              %div{style: "width: 3.2rem; height: 3.2rem;"}
                %svg.social-icon.social-icon--facebook{fill: "white", height: "32", viewbox: "0 0 64 64", width: "32"}
                  %g
                    %circle{cx: "32", cy: "32", fill: "#3b5998", r: "31"}
                  %g
                    %path{d: "M34.1,47V33.3h4.6l0.7-5.3h-5.3v-3.4c0-1.5,0.4-2.6,2.6-2.6l2.8,0v-4.8c-0.5-0.1-2.2-0.2-4.1-0.2 c-4.1,0-6.9,2.5-6.9,7V28H24v5.3h4.6V47H34.1z"}
      .articles_main
        .articles_article
          .it-Header
            .u-flex-center-between.mb-3
              .it-Header_info
                .it-Header_author
                  =link_to "" do
                    //ユーザーマイページのリンクを貼る
                    - if @article.user.icon.present?
                      =image_tag @article.user.icon.url, class:"it-Header_authorImage"
                    - else 
                      =image_tag "quutan.jpg", class:"it-Header_authorImage"
                  //ユーザーマイページのリンクを貼る
                  %a.it-Header_authorName
                    ="@#{@article.user.nickname}"
                .it-Header_time
                  =@article.updated_at.strftime("%Y年%m月%d日")
                  に更新
                //記事のオプション（いいねしたユーザー一覧、通報機能）実装時に使用
                -# .it-Header_meta
                -#   .it-Header_manipulate
                -#     .it-Header_dropdown
                -#       %a.it-Header_dropdownToggle{"aria-expanded":"false", "data-toggle":"dropdown", href:""}
                -#         %span.fa.fa-ellipsis-h.fa-lg
                -#       %ul.dropdown-menu.dropdown-menu-right
                -#         %li.divider{role:"separator"}
                -#         %li.dropdown__item
                -#           %a{href:""}
                -#             %span.fa.fa-fw.fa-thumbs-up
                -#             いいねしたユーザー一覧
                -#         %li.dropdown__item
                -#           %a{href:""}
                -#             %span.fa.fa-fw.fa-flag
                -#             問題がある記事を報告する
            %h1.it-Header_title
              =@article.title
            .it-Tags
              //タグ実装時、活用
              %a.it-Tags_item{href:"/tags/chaosengineering"}
                %span タグ
          %div{"data-mount-target":"mobileArticleActions"}
          %section.it-MdContent{itemprop:"articleBody"}
            #item-2245429ce96027e27949
              #content
                #mdraw
                  = qiita_markdown(@article.text)
          .article-user-link
            - if user_signed_in? && current_user.id == @article.user_id
              .article-edit-link
                = link_to '編集', edit_article_path(@article.id), method: :get
              %p 
                |
              .article-destroy-link
                %a{href: "", id: "article-destroy-modal"} 削除
                = link_to '削除', article_path(@article.id), method: :delete, id: "article-destroy-trigger", style: "display:none;"

          %div{"data-mount-target": "articleFooterMenu"}
            .it-Footer
              .it-Footer_actions
                .it-Footer_favorite
                  -if @favorite.present?
                    %button.article-unfavorite-button
                      %span.fas.fa-star
                      %span.it-Footer_favoriteLabel.article-favorite-button-text お気に入り済み
                  -else
                    %button.article-favorite-button
                      %span.fas.fa-star
                      %span.it-Footer_favoriteLabel.article-favorite-button-text お気に入り
                .it-Footer_like
                  .LikeButton
                    -if @like.present?
                      %button.p-button.article-unlike-button
                        %i.fas.fa-baseball-ball
                        %span.article-like-button-text いいね済み
                    -else 
                      %button.p-button.article-like-button
                        %i.fas.fa-baseball-ball
                        %span.article-like-button-text いいね
                    // 本家ではいいねしたユーザー一覧ページに飛ぶ
                    .LikeButton__balloon.likes-count
                      = @likes.count
              .it-Footer_social
                =link_to "", onclick:"window.open('http://twitter.com/share?url=#{request.url}&hashtags=Quuta,球太','subwin','width=500,height=500'); return false;" do
                  .SocialMediaShareButton.SocialMediaShareButton--twitter.it-Footer_shareButton.it-Footer_shareButton-twitter
                    %div{style: "width: 3.2rem; height: 3.2rem;"}
                      %svg.social-icon.social-icon--twitter{fill: "white", height: "32", viewbox: "0 0 64 64", width:"32"}
                        %g
                          %circle{cx: "32", cy: "32", fill: "#00aced", r: "31"}
                        %g
                          %path{d: "M48,22.1c-1.2,0.5-2.4,0.9-3.8,1c1.4-0.8,2.4-2.1,2.9-3.6c-1.3,0.8-2.7,1.3-4.2,1.6 C41.7,19.8,40,19,38.2,19c-3.6,0-6.6,2.9-6.6,6.6c0,0.5,0.1,1,0.2,1.5c-5.5-0.3-10.3-2.9-13.5-6.9c-0.6,1-0.9,2.1-0.9,3.3 c0,2.3,1.2,4.3,2.9,5.5c-1.1,0-2.1-0.3-3-0.8c0,0,0,0.1,0,0.1c0,3.2,2.3,5.8,5.3,6.4c-0.6,0.1-1.1,0.2-1.7,0.2c-0.4,0-0.8,0-1.2-0.1 c0.8,2.6,3.3,4.5,6.1,4.6c-2.2,1.8-5.1,2.8-8.2,2.8c-0.5,0-1.1,0-1.6-0.1c2.9,1.9,6.4,2.9,10.1,2.9c12.1,0,18.7-10,18.7-18.7 c0-0.3,0-0.6,0-0.8C46,24.5,47.1,23.4,48,22.1z"}
                =link_to "", onclick:"window.open('https://www.facebook.com/sharer/sharer.php?u=#{request.url}','subwin','width=500,height=500'); return false;" do
                  .SocialMediaShareButton.SocialMediaShareButton--facebookit-Footer_shareButton.it-Footer_shareButton-facebook
                    %div{style: "width: 3.2rem; height: 3.2rem;"}
                      %svg.social-icon.social-icon--facebook{fill: "white", height: "32", viewbox: "0 0 64 64", width: "32"}
                        %g
                          %circle{cx: "32", cy: "32", fill: "#3b5998", r: "31"}
                        %g
                          %path{d: "M34.1,47V33.3h4.6l0.7-5.3h-5.3v-3.4c0-1.5,0.4-2.6,2.6-2.6l2.8,0v-4.8c-0.5-0.1-2.2-0.2-4.1-0.2 c-4.1,0-6.9,2.5-6.9,7V28H24v5.3h4.6V47H34.1z"}
          .ai-Container
            .ai-User
              .ai-User_header
                //マイページへのリンク
                = link_to "" do
                  -if @article.user.icon.present?
                    =image_tag @article.user.icon.url, class:"ai-User_image"
                  -else
                    =image_tag "quutan.jpg", class:"ai-User_image"
                - if @article.user.profile.lastname.present? && @article.user.profile.firstname.present?
                  .ai-User_name
                    =link_to @article.user.profile.lastname + " " + @article.user.profile.firstname, ""
                .ai-User_urlname
                  =link_to "@#{@article.user.nickname}", ""
                - if @article.user.profile.description.present?
                  .ai-User_description
                    =@article.user.profile.description
                // フォロー機能実装時使用
              .ai-User_footer
                -if user_signed_in?
                  -unless current_user.id == @article.user.id
                    %span.userFollowButton{data:{id:"#{@article.user.id}"}}
                      -if @relation.nil?
                        %button.btn.btn-default.btn-block.userFollowButton_inner.btn-xs
                          %i.i.fa.fa-user-plus
                          フォロー
                      -else
                        %button.btn.btn-primary.btn-block.userUnfollowButton_inner.btn-xs
                          フォロー中
      //見出しごとのリンクを設定
      -# .articles_options
      -# .articles_toc
      -#   .it-Toc
      -#     .it-Toc_nav
      -#       %ul
      -#         %li
      -#           %a{href: ""} 見出しごとのリンク
      -#           %ul
      -#             %li
      -#               %a{href: ""} 見出しごとのリンク
      -#         %li
      -#           %a{href: ""} 見出しごとのリンク
    .articles_container
      .articles_leftDummy
      .articles_main
        .articles_aside.mt-5
          -# 被リンク記事表示の際、使用
          -# #logly-lift-4279494
          -# .articles_aside.mt-4
          -#   .articles_footnote
          -#     %ul.references.js-referencesView.mt-5
          -#       %li.references_header
          -#         %i.fa.fa-fw.fa-link
          -#         この記事は以下の記事からリンクされています
          -#       %li.references_reference.js-reference
          -#         %a{href: "/takahoyo/items/4f8af6b68d2c1f3a7775#_reference-86fc3a02e90d6fa6a444"}
          -#           %img{:alt => "", :height => "18", :src => "https://s3-ap-northeast-1.amazonaws.com/qiita-image-store/0/67875/60c1776248cedf03de9774ac36ed98fc1a97399e/x_large.png?1576297134", :width => "18"}>/
          -#           リンクしてる記事
          -#         %span からリンク
          -#         %time.references_datetime.js-dateTimeView{:datetime => "2019-12-15T14:59:27+00:00"} 約14時間前

        -# コメント機能
        .articles_aside.mt-5
          #comments.itemsShowComment_wrapper
            #PublicCommentListContainer-react-component-3b26de0e-42d9-4a6c-94a5-69486093ba0a
              .commentList
                .comment
                  -if @article.comments
                    - @article.comments.each do |comment|
                      .commentHeader
                        .commentHeader_creator
                          .commentHeader_creatorIcon
                            = link_to root_path do
                              -if comment.user.icon.present?
                                =image_tag comment.user.icon.url
                              -else
                                =image_tag "quutan.jpg"
                          .commentHeader_creatorInfo
                            = link_to root_path, class: "commentHeader_creator" do
                              .commentHeader_publicUrlName
                                = comment.user.nickname
                        .commentHeader_metadata.pull-right
                          .text-right
                            =comment.created_at.strftime("%Y-%m-%d %H:%M")
                      .comment_content
                        .it-MdContent
                          = qiita_markdown(comment.comment)
                .commentForm
                  -if user_signed_in?
                    = form_with url: comment_article_path(@article.id), method: :post do |f|
                      .commentForm_header
                        - if current_user.icon.present?
                          =image_tag current_user.icon.url
                        - else
                          =image_tag "quutan.jpg", class:"it-Header_authorImage"
                        .commentForm_headerLabel コメントを投稿する
                      .commentForm_contentHeader
                        .commentForm_tabs
                          %a.commentForm_tab#comment_edit.active 編集
                          %a.commentForm_tab#comment_preview プレビュー
                      .commentForm_body.content-area.tab-pane
                        .form-control.commentForm_textarea
                          = f.text_area :comment,class: "commentForm_area" ,placeholder: "コメントを入力してください"
                          .preview-area.tab-pane
                      .commentForm_imageUploader
                        %label.btn.btn-default.btn-xs.commentForm_imageUploader-button
                          %i.far.fa-image
                          %input.commentForm_inputImageFile{tabindex: "-1", type: "file", name: "images", style: "display:none;"}
                          画像を選択
                        %span.commentForm_imageUploader-text またはドラッグ＆ドロップ
                        .commentForm_btns
                          = f.submit 'コメントする', onclick: "submit();", type: "button",class:"btn-primary"
                  -else
                    .not-comment
                      コメントはできません

= render "shared/footer"


%script{async: "", charset:"utf-8", src:"https://platform.twitter.com/widgets.js"}
-# :javascript
-#   document.getElementById('content').innerHTML =
-#     marked(document.getElementById("mdraw").innerHTML);
