= render "shared/header"
.p-settings.px-2.pt-4{class: "px-1@s pt-1@s"}
  .p-settings_container
    .p-settings_menu
      =link_to "プロフィール", "/setting/profile", {class:"p-settings_menuItem "}
      =link_to "ユーザー設定","/setting/account",{class:"p-settings_menuItem p-settings_menuItem-active"}
    .p-settings_main
      .p-settings_titleSection
        -if current_user.nickname.nil?
          =link_to "/setting/account", {class:"p-setteings_nameNil"} do
            ユーザー名が設定されていません
        -else
          =link_to "",{class:"p-settings_userName"} do
            ="@#{current_user.nickname} アカウント"
        %span.p-settings_titleSeparator /
        %span.p-settings_title ユーザー設定
      =form_for @user,url:setting_account_path, html:{id:"edit_user", class:"simple_form edit_user"} do |f|
        .st-Form.email
          %label.st-Form_label.position メールアドレス
          = f.text_field :email ,placeholder: "xxx@xxx", id:"user_email", class:"st-Form_text",value:@email
        .st-Form_help
          -if @user.errors.messages[:email].any?
            = render 'layouts/validates_error', errors:@user.errors.full_messages_for(:email)
        .st-Form.nickname
          %label.st-Form_label.position ユーザー名
          = f.text_field :nickname ,placeholder: "ユーザー名は半角英字と「-」が使用できます", id:"user_nickname", class:"st-Form_text"
        .st-Form_help
          -if @user.errors.messages[:nickname].any?
            = render 'layouts/validates_error', errors:@user.errors.full_messages_for(:nickname)
        = f.submit :"更新する", class:"st-Form_submit"
= render "shared/footer"