#globalHeader.st-Header
  .st-Header_container
    .st-Header_start
      %a.st-Header_logo.mr-1
        = link_to root_path,class:"home-link" do
          = image_tag 'quutalogo.png', height:'52'
      %form.st-Header_search{action: "/search", method: "get"}
        %span.fa.fa-search
        %input.st-Header_searchInput{autocomplete: "off", name: "q", placeholder: "キーワードを入力", required: "", type: "search"}
    - if user_signed_in?
      .st-Header_end
        %a.st-Header_stock.mr-2.py-2{href: "/stock"}
          %span.fa.fa-fw.fa-folder-open.mr-1of2
          %span.st-Header_stock-label.d-none.d-lg-block お気に入り一覧
          %a.mr-2.px-2
            = link_to new_article_path, class: "st-Header_postButton"do
              %span.fas.fa-fw.fa-pen-square.mr-1
              投稿する
          .u-relative
            .st-Header_loginUser{tabindex: "0"}
              %button.btn.btn-secondary.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
                -if current_user.icon.present?
                  = image_tag current_user.icon.url
                -else
                  =image_tag "quutan.jpg"
              .dropdown-menu.dropdown-menu-right
                = link_to "マイページ", "#", class: "dropdown-item"
                = link_to "プロフィール編集", setting_profile_path(current_user), class: "dropdown-item"
                = link_to "ユーザー設定", setting_account_path(current_user), class: "dropdown-item"
                .dropdown-divider
                = link_to "ログアウト", signout_path(current_user), method: :delete, class: "dropdown-item"
      

    - else
      .st-Header_end
        = link_to signup_path, class: "st-Header_signupButton" do
          ユーザ登録
        = link_to login_path, class: "st-Header_loginLink" do
          ログイン