= render "shared/header"
//　ログインフォーム
- unless user_signed_in?
  .nl-Hero
    .nl-Hero_inner
      .nl-Hero_start
        %h1.mb-4.nl-Hero_title 野球を愛する人に。
        %p.nl-Hero_lead 
          Quutaは野球に関する知識を共有するためのサービスです。
      .nl-Hero_end
        .nl-SocialSignupWrapper
          =link_to user_twitter_omniauth_authorize_path ,class:"nl-SocialSignup nl-SocialSignup-twitter" do
            %i.fab.fa-twitter.fa-fw
            Twitter
          =link_to user_google_oauth2_omniauth_authorize_path ,class:"nl-SocialSignup nl-SocialSignup-google" do
            %i.fab.fa-google.fa-fw
            Google
          =link_to user_facebook_omniauth_authorize_path ,class:"nl-SocialSignup nl-SocialSignup-facebook" do
            %i.fab.fa-facebook.fa-fw
            Facebook
        .nl-Hero_separator OR
        .nl-SignupForm
          =form_for @user, url: signup_path, method: :post do |f|
            .mb-4.nl-SignupForm_group
              %label.nl-SignupForm_label{for: "url_name"} ユーザ名
              = f.text_field :nickname, class:"form-control", id:"url_name", placeholder:"ユーザ名", required:"required"
            .mb-4.nl-SignupForm_group
              %label.nl-SignupForm_label{for: "email"} メールアドレス
              = f.email_field :email, class:"form-control", id:"email", placeholder:"メールアドレス", required:"required"
            .mb-3.nl-SignupForm_group
              %label.nl-SignupForm_label{for: "password"} パスワード
              = f.password_field :password, class:"form-control", id:"password", placeholder:"********", required:"required"
            %span.mb-4.nl-SignupForm_helpText パスワードは8文字以上32文字以内で、半角英字・数字・記号が使えます。
            .nl-SignupForm_recaptcha
              = recaptcha_tags
            .nl-SignupForm_buttonArea
              .nl-SignupForm_button
                = f.submit class:"btn btn-primary btn-block btn-lg", "data-disable-with": "送信中……", value:"登録する"
// 記事一覧
.home-container
  .home-content-left
  .home-content-center
    .home-content-posts
      .home-content-title
        最新記事
      -@articles.each do|article|
        .home-article-wrapper
          .home-article
            .home-article-icon
              =link_to "/profile/#{article.user.id}/posts" do
                -if article.user.icon.present?
                  =image_tag article.user.icon.url
                -else
                  =image_tag "quutan.jpg"
            .home-article-detail
              .home-article-title
                =link_to "/articles/#{article.id}" do
                  =article.title
                .home-date-wrapper
                  .home-article-date
                    =link_to article.user.nickname, "/profile/#{article.user.id}/posts"
                    ="が"+article.created_at.strftime("%Y年%m月%d日")+"に投稿"
              .home-article-likes
                %i.fas.fa-baseball-ball
                  =article.likes.count
                .home-article-comments
                  %i.fas.fa-comment
                    =article.comments.count
  .home-content-right
= render "shared/footer"