.sessionsLayout
  .container
    =image_tag "quuta.png", class:"quuta-logo"
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
        .sessionsLayoutHeader
          .sessionsLayoutHeader_title Quutaへようこそ!
          %p.lead 新規登録(無料)して利用を開始しましょう。
        %hr/
        .row
          .col-sm-6
            =link_to "",class:"btn btn-twitter-inverse btn-block btn-lg" do
              %i.fab.fa-twitter
              Twitterアカウントで登録
            =link_to "",class:"btn btn-twitter-inverse btn-block btn-lg" do
              %i.fab.fa-google
              Googleアカウントで登録
            .help-block Quutaが許可無くTwitterに投稿することはありません。
            .sessionsLayout_guide
              もしQuutaのアカウントを持っている場合は
              =link_to "ログイン", "/login" 
              から。
          .col-sm-6.sessionsLayoutFormColumn
            =devise_error_messages!
            =form_for resource, as: resource_name, url: signup_path do |f|
              .form-group
                = f.text_field :nickname, class:"form-control", id:"user_url_name", placeholder:"ユーザ名", required:"required"
              .form-group
                %div
                  = f.email_field :email, class:"form-control", id:"user_email", placeholder:"メールアドレス", required:"required"
                  .help-block{style:"display: none;"}
                .help-block.js-email-invalid-message{style:"display: none"}
              .form-group
                = f.password_field :password, class:"form-control", id:"user_password", "data-original-title": "パスワードは8文字以上32文字以内で、半角英字・数字・記号が使えます。", "data-placement": "top", "data-toggle": "tooltip", "data-trigger": "focus", placeholder:"パスワード", required:"required"
              //recapcha 導入時に使用
              .form-group.recaptcha_container
                = recaptcha_tags
              .form-group
                = f.submit class:"btn btn-primary btn-block btn-lg", "data-disable-with": "送信中……", value:"新規登録"